* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ccc;
  font-size: 14px;
}

body {
  background-color: #ccc;
}

/* Headings */

h1 {
  margin: auto;
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
}

h3 {
  margin-bottom: 15px;
  margin-left: 25px;
}

/* Image */

.denji-gif {
  width: 500px;
  height: auto;
  margin: auto;
  display: block;
  margin-bottom: 15px;
}

/* Lists */

ul,
ol {
  margin-left: 65px;
}

ul,
ol {
  margin-bottom: 15px;
}

li {
  margin-bottom: 8px;
}
